:global(body) {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at 50% 0%, #14161d 0%, #08090c 100%) fixed;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: transparent;
}

:global(footer) {
  margin-top: auto;
}